la a{
    color : green;
}



body{
    font:14px/1.8 Arial, Helvetica, sans-serif;
}

.frame{
    width:800px;
    margin: 0 auto;
    border:1px solid #aaa;
}

.header{
    padding: 40px 10px;
    text-align: center;
    background: #eee;
    margin-bottom: 20px;
}

.logo{
    font-size: 2em;
    font-weight: bold;
    background: #5457de;
    color:#fff;
    display: inline-block;
    padding: 0 8px;
}

.container{
    overflow: hidden;
}
/*background: white url("images/background.jpg") no-repeat;*/





